In [2]:
import pandas as pd
import os

In [4]:
raw_path = os.path.abspath(os.path.join(os.getcwd(), "../court-iq/data/raw"))

data = {
    file.replace(".csv",""): pd.read_csv(os.path.join(raw_path, file))
    for file in os.listdir(raw_path) if file.endswith(".csv")
}

print(data.keys())

dict_keys(['regular_season_box_scores_2010_2024_part_2', 'regular_season_box_scores_2010_2024_part_3', 'regular_season_box_scores_2010_2024_part_1', 'play_off_box_scores_2010_2024'])

In [5]:
raw_df = pd.concat(data.values(), ignore_index=True)

raw_df

,season_year,game_date,gameId,matchup,teamId,teamCity,teamName,teamTricode,teamSlug,personId,...,reboundsOffensive,reboundsDefensive,reboundsTotal,assists,steals,blocks,turnovers,foulsPersonal,points,plusMinusPoints
0,2010-11,2010-12-11,21000347,HOU vs. CLE,1610612745,Houston,Rockets,HOU,rockets,2449,...,6,8,14,1,1,0,4,3,14,10
1,2010-11,2010-11-19,21000173,HOU @ TOR,1610612745,Houston,Rockets,HOU,rockets,2449,...,1,4,5,3,1,1,2,3,19,0
2,2011-12,2012-03-18,21100667,HOU @ PHX,1610612745,Houston,Rockets,HOU,rockets,2449,...,3,4,7,3,0,0,0,2,18,-6
3,2010-11,2010-12-22,21000429,HOU @ LAC,1610612745,Houston,Rockets,HOU,rockets,2449,...,1,2,3,2,2,2,4,5,22,-3
4,2010-11,2011-02-22,21000840,HOU @ DET,1610612745,Houston,Rockets,HOU,rockets,2449,...,3,6,9,1,1,2,3,3,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455658,2023-24,2024-04-20,42300161,NaN,1610612756,Phoenix,Suns,PHX,suns,1629642,...,0,0,0,0,0,0,0,0,2,-5
455659,2023-24,2024-04-28,42300164,NaN,1610612756,Phoenix,Suns,PHX,suns,201152,...,0,0,0,0,0,0,0,0,0,0
455660,2023-24,2024-04-23,42300162,NaN,1610612756,Phoenix,Suns,PHX,suns,201152,...,0,0,0,0,0,0,0,0,0,0
455661,2023-24,2024-04-26,42300163,NaN,1610612756,Phoenix,Suns,PHX,suns,201152,...,0,0,0,0,0,0,0,0,0,0
455662,2023-24,2024-04-20,42300161,NaN,1610612756,Phoenix,Suns,PHX,suns,201152,...,0,0,0,0,0,0,0,0,0,-5